---
import Content from "../Content.astro";
import SectionHead from "../SectionHead.astro";
import Link from "../Link.astro";
import PageSubtitle from "../PageSubtitle.astro";
import vectorEmbedding from "../../assets/graphics/vector-embeddings.svg";
import vectorEmbeddingPortrait from "../../assets/graphics/vector-embeddings-portrait.svg";
import Image from "astro/components/Image.astro";
import cntl from "cntl";

const graphContainerClasses = cntl`
  bg-gradient-to-r
  from-porsche-400
  to-chetwode-200
  dark:from-porsche-700
  dark:to-chetwode-600
  rounded-2xl
  p-4
  mt-4
`;
---

<PageSubtitle subtitle="GPU-Agnostic, Low-cost AI for Biodiversity Research" />
<SectionHead
  text="Developing on-devices, cross-platform machine-learning methods to improve biodiversity research"
/>
<Content>
  This project aims to implement emerging machine-learning (ML) approaches to
  aid natural history studies and enhance our understanding of biodiversity. It
  will be part of my postdoc at <Link
    text="Porto's lab"
    url="https://agporto.github.io/"
  />, the University of Florida, starting Summer 2025. The goal is to develop
  low-cost, user-friendly, and cross-platform (mobile and desktop) on-device
  large language models (LLMs) and computer vision ML approaches. My work will
  include integrating the models into the software I currently develop. The LLM
  models will summarize and translate digital field notes. The computer vision
  models will extract data from paper-based natural history catalogs and
  identify phenotypic patterns from specimen images. In collaboration with <Link
    text="Del-Rio's lab"
    url="https://www.gdel-rio.com/"
  /> (University of Florida), another potential work is to develop a cross-platform
  ML tool to identify selective sweep in genomic data.
  <div class={graphContainerClasses}>
    <Image
      src={vectorEmbedding}
      alt="Vector embedding graphic"
      class="mt-4 hidden md:block"
    />
    <Image
      src={vectorEmbeddingPortrait}
      alt="Vector embedding graphic"
      class="mt-4 block md:hidden"
    />
  </div>
</Content>
