---
import Image from "astro/components/Image.astro";

const codeStatsUrl = "https://githubcard.com/hhandika.svg?d=8fDRLgon";
---

<div class="mt-8 rounded-xl">
  <Image src={codeStatsUrl} alt="GitHub Code Stats" width="960" height="470" />
</div>
