---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Island small mammals and inclusive biodiversity software">
  <Header />
  <main>
    <h1>Hi, I am <span class="text-gradient">Heru</span></h1>
    <p class="instructions">
      I study <strong>speciation</strong> in complex <strong
        >island systems</strong
      >
      and develop <strong>cross-platform, mobile-friendly software</strong>
      to enhance the efficiency, integration, and inclusivity of biodiversity research.
    </p>
  </main>
</Layout>
