---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Island small mammals and inclusive biodiversity software">
  <Header />
  <main>
    <div class="mx-auto max-w-2xl py-6 sm:py-16 lg:py-8">
      <div class="text-center">
        <h1
          class="text-balance text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-7xl"
        >
          Fieldwork
        </h1>
        <p class="dark:text-slate-400 text-slate-500">
          This is a placeholder page for Fieldwork content. More information
          will be added soon.
        </p>
      </div>
    </div>
  </main>
</Layout>
