---
import Layout from "../layouts/Layout.astro";
import Timeline from "../layouts/Timeline.astro";
import TimelineItem from "../layouts/TimelineItem.astro";
---

<Layout title="Fieldwork">
  <main>
    <div class="mx-auto max-w-4xl py-6 sm:py-16 lg:py-8">
      <div class="text-center">
        <h1
          class="text-balance text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-7xl"
        >
          Fieldwork
        </h1>
        <p class="dark:text-slate-400 text-slate-500">
          Over 30 field expeditions across four countries spanning more than 12
          years
        </p>
      </div>
      <Timeline>
        <TimelineItem
          date="August-December 2023"
          title="Mts. Patah, Bandahara, Kemiri"
          subtitle="Sumatra, Indonesia 🇮🇩"
        >
          <p
            class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </TimelineItem>
        <TimelineItem
          date="February-April 2023"
          title="Mt. Gede"
          subtitle="West Java, Indonesia 🇮🇩"
        >
          <p
            class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
          >
            If you are going to use a passage of Lorem Ipsum, you need to be
            sure there isn't anything embarrassing hidden in the middle of text.
          </p>
        </TimelineItem>
        <TimelineItem
          date="April-May 2022"
          title="Black Gap WMA"
          subtitle="Texas, USA 🇺🇸"
        />
        <TimelineItem
          date="May 2021"
          title="Davis Mountains"
          subtitle="Texas, USA 🇺🇸"
        />
        <TimelineItem
          date="July-August 2019"
          title="Mt. Murud"
          subtitle="Sarawak, Malaysia 🇲🇾"
        />
        <TimelineItem
          date="July 2018"
          title="Mt. Galang"
          subtitle="Central Sulawesi, Indonesia 🇮🇩"
        />
        <TimelineItem
          date="June 2017"
          title="Mt. Talamau"
          subtitle="West Sumatra, Indonesia 🇮🇩"
        />
      </Timeline>
    </div>
  </main></Layout
>
