---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Outreach">
  <main>
    <h1>Outreach</h1>
    <p>
      This is a placeholder page for outreach content. More information will be
      added soon.
    </p>
  </main></Layout
>
