---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
import outreachIcon from "../assets/icons/outreach.svg";
import Background from "../components/Background.astro";
import MainPage from "../components/MainPage.astro";
import PageSubtitle from "../components/PageSubtitle.astro";
---

<Layout title="Outreach">
  <MainPage>
    <Background backgroundImage={outreachIcon} />
    <PageTitle title="Outreach">
      <p class="dark:text-slate-400 text-slate-500">
        I am passionate about sharing my research and experiences with the
        public. I have been involved in various outreach activities, from school
        visits to public talks. I am also active in science communication
        through social media and blogging.
      </p>
    </PageTitle>
    <PageSubtitle subtitle="Interviews" />
  </MainPage>
</Layout>
