---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Research Projects">
  <main>
    <div class="mx-auto max-w-2xl py-6 sm:py-16 lg:py-8">
      <div class="text-center">
        <h1
          class="text-balance dark:text-white text-gray-900 text-5xl font-semibold tracking-tight py-4"
        >
          Research Projects
        </h1>
        <h2 class="dark:text-slate-200 text-slate-100">
          Small Mammal Diversity & Evolution
        </h2>
        <h3 class="dark:text-slate-200 text-slate-100">
          Understanding patterns that generate species diversity within a
          complex island system
        </h3>
        <p class="dark:text-slate-400 text-slate-500">
          Indo-Australian Archipelago is among the most complex island system on
          earth. Some islands, such as Sumatra, Java, and Borneo, were
          continuous landmass during the Pleistocene low see level, called Sunda
          Shelf. Sulawesi was separate islands. Other islands never been
          connected to other landmasses, such as the Moluccas and Lesser Sunda
          islands. Within the islands, isolated mountains present more
          opportunities for speciation. We work on deciphering small mammal
          diversity and evolution in this complex island system, with particular
          focus on Sulawesi and the Sunda Shelf.
        </p>
        <h3 class="dark:text-slate-200 text-slate-100 mt-8">
          In situ diversification of Hill Rats (<i>Bunomys</i>) on Sulawesi
        </h3>
        <p class="dark:text-slate-400 text-slate-500">
          The hill-rat species group, also referred as the
          <i>Bunomys</i> Clade, is the most diverse endemic rodent group on Sulawesi.
          From a single known colonizing ancestor, the group has diversified into
          18+ species. Some species occur throughout the island. The other species
          are restricted to a single area of endemism or only known from a single
          mountain. This project is the main focus of my PhD. We hope to understand
          how complex geological history of Sulawesi shaped the diversity of the
          group. Our understanding of this process will help us to understand the
          evolution of small mammals in complex island systems. It will also provide
          an improved understanding of species distribution to inform conservation
          efforts on Sulawesi.
        </p>
        <p class="dark:text-slate-400 text-slate-500">
          Publications:<br />
          Handika et. al. (In prep)<br />
          Handika et. al. (2021) [<a
            href="https://doi.org/10.1111/zsc.12460"
            target="_blank"
            >web
          </a>] [<a href="https://doi.org/10.1111/zsc.12460" target="_blank"
            >request pdf</a
          >]
        </p><div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
        </div>
      </div>
    </div>
  </main>
</Layout>
