---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
import teachingIcon from "../assets/icons/teaching.svg";
import Background from "../components/Background.astro";
---

<Layout title="Teaching">
  <main>
    <div class="mx-auto max-w-2xl py-6 sm:py-16 lg:py-8">
      <Background backgroundImage={teachingIcon} />
      <PageTitle title="Teaching">
        <p class="dark:text-slate-400 text-slate-500">
          I am passionate about teaching and mentoring students. I have taught
          various courses in biology, ecology, and evolution. I have also
          mentored students in research projects and fieldwork. I am committed
          to fostering an inclusive and diverse learning environment.
        </p>
      </PageTitle>
    </div>
  </main>
</Layout>
