---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Teaching">
  <h1>Teaching</h1>
  <p>
    This is a placeholder page for teaching content. More information will be
    added soon.
  </p>
</Layout>
