---
import { Image } from "astro:assets";
---

<div class="h-8 w-auto block dark:hidden">
  <Image
    src="/favicon.svg"
    alt="handika research logo"
    height={32}
    width={32}
  />
</div>
<div class="h-8 w-auto hidden dark:block">
  <Image
    src="/favicon-dark.svg"
    alt="handika research logo"
    height={32}
    width={32}
  />
</div>
