---

---

<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <a href="/" class="-m-1.5 p-1.5">
      <span class="sr-only">Heru Handika</span>
      <img
        class="h-8 w-auto block dark:hidden"
        src="/favicon.svg"
        alt="handika research logo"
      />
      <img
        class="h-8 w-auto hidden dark:block"
        src="/favicon-dark.svg"
        alt="handika research logo"
      />
    </a>
  </div>
  <div class="flex lg:hidden">
    <button
      id="menu-button"
      type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        data-slot="icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <div class="hidden lg:flex lg:gap-x-12">
    <a
      href="/"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >About</a
    >
    <a
      href="/projects"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >Projects</a
    >
    <a
      href="/cv"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >CV</a
    >
    <a
      href="/fieldwork"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >Fieldwork</a
    >
    <a
      href="/software"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >Software</a
    >
    <a
      href="/teaching"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >Teaching</a
    >
    <a
      href="/outreach"
      class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100 hover:text-talamau-brown active:text-blue-700"
      >Outreach</a
    >
  </div>
</nav>
<!-- Mobile menu, show/hide based on menu open state. -->
<div id="mobile-menu" class="lg:hidden hidden" role="dialog" aria-modal="true">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0 z-50">
    <div
      class="fixed bg-white inset-y-0 right-0 z-50 w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Heru Handika</span>
          <img
            class="h-8 w-auto"
            src="/favicon.svg"
            alt="handika research logo"
          />
        </a>
        <button
          id="close-button"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="/"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >About</a
            >
            <a
              href="/projects"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >Projects</a
            >
            <a
              href="/cv"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >CV</a
            >
            <a
              href="/fieldwork"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >Fieldwork</a
            >
            <a
              href="/software"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >Software</a
            >
            <a
              href="/teaching"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >Teaching</a
            >
            <a
              href="/outreach"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 hover:text-talamau-brown active:text-blue-700"
              >Outreach</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const menuButton = document.getElementById("menu-button");
    const closeButton = document.getElementById("close-button");
    const mobileMenu = document.getElementById("mobile-menu");

    if (menuButton && mobileMenu) {
      menuButton.addEventListener("click", function () {
        mobileMenu.classList.toggle("hidden");
      });
    }

    if (closeButton && mobileMenu) {
      closeButton.addEventListener("click", function () {
        mobileMenu.classList.toggle("hidden");
      });
    }
  </script>
</div>
