---
import cntl from "cntl";

const textClasses = cntl`
    text-pretty
    text-lg 
    textchetwode-700 
    dark:chetwode-100
    max-w-4xl
    mx-auto
`;
---

<p class={textClasses}>
  <slot />
</p>
