---
import cntl from "cntl";

const pageTitleClasses = cntl`
  text-center
  text-balance 
  text-3xl
  font-serif 
  text-porsche-600 
  dark:text-porsche-400
  mt-8
  mb-4
`;
const { subtitle } = Astro.props;
---

<div class="my-4">
  <h2 class={pageTitleClasses}>{subtitle}</h2>
</div>
