---
import cntl from "cntl";

const pageTitleClasses = cntl`
    font-serif
    text-balance 
    text-4xl
    sm:text-6xl
    font-semibold 
    tracking-tight 
    text-chetwode-950 
    dark:text-chetwode-50
    mb-2
`;

const { title } = Astro.props;
---

<div class="text-center">
  <h1 class={pageTitleClasses}>{title}</h1>
  <slot />
</div>
