---
import LinkIcon from "./svg/LinkIcon.astro";

interface Stats {
  title: string;
  value: number;
  unit: string;
  url: string;
}

const { title, value, unit, url } = Astro.props;
---

<div class="p-4 rounded text-chetwode-950 dark:text-chetwode-50">
  <p>
    <a href={url}>
      {title}<LinkIcon
        style="h-8 w-8 inline stroke-chetwode-950 dark:stroke-chetwode-50 opacity-80 ml-[-4px]"
      /></a
    >

    <p>
      <strong class="font-bold text-2xl">{value}+</strong>
      {unit}
    </p>
  </p>
</div>
